@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-direction-row {
    @apply flex flex-row;
  }

  .flex-direction-col {
    @apply flex flex-col;
  }

  .flex-row-center {
    @apply flex flex-row items-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .green-button {
    @apply gap-2 font-semibold tablet:text-lg text-base rounded-[3rem] tablet:px-8 tablet:py-3.5 px-4 py-2.5 text-light bg-green hover:bg-fresh-green;
  }

  .white-button {
    @apply gap-2 font-semibold laptop:text-lg big_tablet:text-base phone:text-lg text-base rounded-[3rem] laptop:px-12 big_tablet:px-8 phone:px-10 px-6 laptop:py-3 big_tablet:py-2 phone:py-3 py-2 text-dark bg-light;
  }

  .small-button {
    @apply font-semibold tablet:text-lg text-sm rounded-[2rem] tablet:py-2 tablet:px-6 small_phone:py-1.5 py-1 small_phone:px-3 px-2;
  }
}

@font-face {
  font-family: "istok";
  src: url("../asset//IstokWeb-Regular.ttf");
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #3a6841;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
